{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Frank's Demo</title>
        
        
		<link href="{% static 'lawaccount/css/font-awesome.min.css' %}" rel="stylesheet" >
		 <link href="{% static 'lawaccount/css/bootstrap.min.css' %}" rel="stylesheet" >
		 <link href="{% static 'lawaccount/css/chosen.min.css' %}" rel="stylesheet" >
		 <!--link href="{% static 'lawaccount/css/jquery-ui-1.10.3.custom.min.css' %}" rel="stylesheet" -->
		 <link href="{% static 'lawaccount/css/custom-theme/jquery-ui-1.10.3.custom.css' %}" rel="stylesheet" >
		 <!--link href="{% static 'lawaccount/css/flask/jquery-ui-1.10.3.custom.min.css' %}" rel="stylesheet" -->
		 
		 
		 {% block custom_css_file %} {% endblock %}
		 
		<script src="{% static 'lawaccount/js/jquery.js' %}"></script>
		<script src="{% static 'lawaccount/js/bootstrap.min.js' %}"></script>
		
		
		
		<script src="{% static 'lawaccount/js/jquery.cookie.js' %}"></script>
		<script src="{% static 'lawaccount/js/chosen.jquery.min.js' %}"></script>
		<script src="{% static 'lawaccount/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
		{% block custom_script_file %} {% endblock %}
		<script type="text/javascript" charset="utf-8">
			{% block custom_script %}{% endblock %}
		</script>
</head>
<body>
<!--Top menu bar -->

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
	<a class="navbar-brand" href="#">Frank's Demo</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class='dropdown {% if first_level_view_name == "Account" %} active {% endif %}'>
		<a class="dropdown-toggle" data-toggle="dropdown" href=""><i class="icon-user"></i>Account <b class="caret"></b></a>
		<ul class="dropdown-menu">
          <li><a href=""><i class="icon-table"></i>List</a></li>
          <li><a href=""><i class="icon-plus"></i>Create new</a></li>
          <li><a href="#"><i class="icon-print"></i>Print</a></li>
          <li><a href="#"><i class="icon-search"></i>Advanced Search</a></li>
          <li><a href="#"><i class="icon-bar-chart"></i>Reports</a></li>
        </ul>
	  </li>
      <li><a href="#">Demo</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown Demo<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>


      <!-- Main component for a primary marketing message or call to action -->
      

		{% block content %}{% endblock %}


</body>
</html>