{% extends 'lawaccount/base.html' %}

{% load bootstrap %}


{% block custom_script_file %} 
	{% include "lawaccount/datatable_head_static.html" %}
{% endblock %}
<!---where are the statics"-->
{% block custom_script %}
	$(document).ready(function() {
		var file_tab_initilaized = false;
	
	
		$('#submitCustomerButton').click( function(){
			$('#customerForm').submit();
		});
		$('#cancelCustomerButton').click( function(){
			window.location.href = "{% url 'lawaccount:genericListView' model_name='Customer' %}";
		});
		
		//set drop down list style for 3 columns
		$('#id_nationality').addClass('chosen-select');
		$('#id_nationality').chosen();
		
		$('#id_home_country').addClass('chosen-select');
		$('#id_home_country').chosen();
		
		$('#id_office_country').addClass('chosen-select');
		$('#id_office_country').chosen();
		
		$( "#id_birth_date" ).datepicker({ dateFormat: "dd/mm/yy", showButtonPanel: true, changeMonth: true, changeYear: true});  //set date picker
		
		
		//set tabs
		
		$( "#tabs" ).tabs({
			beforeActivate: function (event, ui) {
				tabid = ui.newPanel.attr('id')
				if (tabid == 'tabs-file' && !file_tab_initilaized){
//					alert('first time initial');
					file_tab_initilaized=true;
					{% if customer.id %}
						{% include "lawaccount/datatable_head.html" with model_name='File'  searchCols='["file_no"]' cols='["file_no","file_type","start_date","id"]'  parent=customer parent_model="customer"%}
					{% endif %}
				}
			}
		});
		var count = $(".has-error").length;
		if (count>0) {
			var x =  $(".has-error").first()
			var p = x.parents("[id^='tabs-']");
			var tab_name = p.attr('id');
			var li = $('#tabs li a[name="'+ tab_name + '"]');
			var index = $('#tabs li a').index(li);
			$( "#tabs" ).tabs("option", "active", index );
		}
		
		
	})
{%endblock %}
{% block content %}

<!--div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"> {{customer.first_name}} {{customer.last_name}}</h3>
  </div>
	<div class="panel-body"-->
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="{% url 'lawaccount:genericListView' model_name='Customer' %}">Customer</a></li>
		<li class="active">
			{% if customer.id %}
				{{customer.first_name}} {{customer.last_name}}
			{% else %}
				New
			{% endif %}
		</li>
	</ol>

 
	
    {{ form.non_field_errors }}
	{% include "lawaccount/customer_form.html" %}
	{#{ form|bootstrap:'customer_form.html'}#}


	<div class="container"> 
			<div class="row">&nbsp;</div>
			<button type="button" class="btn btn-primary" id="submitCustomerButton">
				{% if customer.id %}
					Save
				{% else %}
					Create
				{% endif %}
			</button>
			<button type="button" class="btn btn-primary" id="cancelCustomerButton">Cancel</button>
	</div>
	
	
	


	<!--/div>
	<div class="panel-footer">
	
	
</div>



</div-->
{% endblock %}