{%load bootstrap%}
{% if form.non_field_errors %}
    <div class="alert alert-danger">
        <a class="close" data-dismiss="alert">&times;</a>
        {% for non_field_error in form.non_field_errors %}
             {{ non_field_error }}
        {% endfor %}
    </div>
{% endif %}

 <div id="tabs">
	<ul>
		<li><a href="#tabs-1" name="tabs-1">Personal Detail</a></li>
		<li><a href="#tabs-2" name="tabs-2">Contact Info</a></li>
		<li><a href="#tabs-3"  name="tabs-3">Work Detail</a></li>
		
		{% if customer.id %}
			<li><a href="#tabs-file"  name="tabs-file">Files</a></li>
		{% endif %}
	</ul> 
	{% if customer.id %}
		<form action="{% url 'lawaccount:genericEdit' model_name='Customer' pk=customer.id  %}" id='customerForm' method="post" class="form-horizontal" role="form">
	{% else %}
		<form action="{% url 'lawaccount:genericCreate' model_name='Customer' %}" id='customerForm' method="post" class="form-horizontal" role="form">
	{% endif %}
	{% csrf_token %}
	<div id="tabs-1">
		<div class='container'>
		  <div class="row"><div class="col-md-2">{{ form.prefix | bs3field }}</div></div>
		  <div class="row"><div class="col-md-3">{{ form.first_name | bs3field }}</div><div class="col-md-3 col-md-offset-1">{{ form.middle_name | bs3field }}</div> <div class="col-md-3 col-md-offset-1">{{ form.last_name | bs3field }}</div></div>
		  <div class="row"><div class="col-md-3">{{ form.nric | bs3field }}</div> <div class="col-md-3 col-md-offset-1">{{ form.nationality | bs3field }}</div><div class="col-md-3 col-md-offset-1">{{ form.race | bs3field }}</div></div>
		  <div class="row"><div class="col-md-3">{{ form.birth_date | bs3field }}</div> <div class="col-md-2 col-md-offset-1">{{ form.maritial_status | bs3field }}</div><div class="col-md-2 col-md-offset-1">{{ form.sex | bs3field }}</div></div>
		</div>
		
	</div>
	<div id="tabs-2">
		<div class="container">
			<div class="row"><div class="col-md-3">{{ form.mobile_phone1 | bs3field }}</div><div class="col-md-3 col-md-offset-1">{{ form.mobile_phone2 | bs3field }}</div></div>
			<div class="row"><div class="col-md-3">{{ form.home_phone | bs3field }}</div> </div>
			<div class="row"><div class="col-md-3">{{ form.personal_email| bs3field }}</div><div class="col-md-3  col-md-offset-1">{{ form.personal_fax | bs3field }}</div> </div>
			<div class="row"><div class="col-md-7">{{ form.home_address1 | bs3field }}</div> </div>
			<div class="row"><div class="col-md-7">{{ form.home_address2 | bs3field }}</div> </div>
			<div class="row"><div class="col-md-3">{{ form.home_city | bs3field }}</div></div>
			<div class="row"><div class="col-md-3">{{ form.home_country | bs3field }}</div></div>
			<div class="row"><div class="col-md-3">{{ form.home_zip | bs3field }}</div> </div>
		</div>
		
	</div>
	<div id="tabs-3">
		<div class="container">
			<div class="row">
				<div class="col-md-3">{{ form.employer | bs3field }}</div>
				<div class="col-md-3 col-md-offset-1">{{ form.occupation | bs3field }}</div>
			</div>
			<div class="row">
				<div class="col-md-3">{{ form.office_phone | bs3field }}</div>
				<div class="col-md-3 col-md-offset-1">{{ form.office_email | bs3field }}</div>
			</div>
			<div class="row"><div class="col-md-7">{{ form.office_address1 | bs3field }}</div> </div>
			<div class="row"><div class="col-md-7">{{ form.office_address2 | bs3field }}</div> </div>
			<div class="row"><div class="col-md-3">{{ form.office_city | bs3field }}</div></div>
			<div class="row"><div class="col-md-3">{{ form.office_country | bs3field }}</div></div>
			<div class="row"><div class="col-md-3">{{ form.office_zip | bs3field }}</div> </div>
		</div>
		
	</div>
	</form>
	{% if customer.id %}
	<div id="tabs-file">
		{% include "lawaccount/customer_file.html" %}
	</div>
	{% endif %}

	
</div>

<script>
	
	
	
</script>

		
		
		






