{%load bootstrap%}
{% if form.non_field_errors %}
    <div class="alert alert-danger">
        <a class="close" data-dismiss="alert">&times;</a>
        {% for non_field_error in form.non_field_errors %}
             {{ non_field_error }}
        {% endfor %}
    </div>
{% endif %}

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Personal Detail
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="collapse in">
      <div class="panel-body">
		<div class='container'>
		  <div class="row"><div class="col-md-2">{{ form.prefix | bs3field }}</div></div>
		  <div class="row"><div class="col-md-3">{{ form.first_name | bs3field }}</div><div class="col-md-3 col-md-offset-1">{{ form.middle_name | bs3field }}</div> <div class="col-md-3 col-md-offset-1">{{ form.last_name | bs3field }}</div></div>
		  <div class="row"><div class="col-md-3">{{ form.nric | bs3field }}</div> <div class="col-md-3 col-md-offset-1">{{ form.nationality | bs3field }}</div><div class="col-md-3 col-md-offset-1">{{ form.race | bs3field }}</div></div>
		  <div class="row"><div class="col-md-3">{{ form.birth_date | bs3field }}</div> <div class="col-md-2 col-md-offset-1">{{ form.maritial_status | bs3field }}</div><div class="col-md-2 col-md-offset-1">{{ form.sex | bs3field }}</div></div>
		</div>
	  </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Contact Detail 
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="container collapse ">
      <div class="container">
		<div class="row"><div class="col-md-3">{{ form.mobile_phone1 | bs3field }}</div><div class="col-md-3 col-md-offset-1">{{ form.mobile_phone2 | bs3field }}</div></div>
		<div class="row"><div class="col-md-3">{{ form.home_phone | bs3field }}</div> </div>
		<div class="row"><div class="col-md-3">{{ form.personal_email| bs3field }}</div><div class="col-md-3  col-md-offset-1">{{ form.personal_fax | bs3field }}</div> </div>
		<div class="row"><div class="col-md-7">{{ form.home_address1 | bs3field }}</div> </div>
		<div class="row"><div class="col-md-7">{{ form.home_address2 | bs3field }}</div> </div>
		<div class="row"><div class="col-md-3">{{ form.home_city | bs3field }}</div></div>
		<div class="row"><div class="col-md-3">{{ form.home_country | bs3field }}</div></div>
		<div class="row"><div class="col-md-3">{{ form.home_zip | bs3field }}</div> </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Work Detail
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="container">
			<div class="row">
				<div class="col-md-3">{{ form.employer | bs3field }}</div>
				<div class="col-md-3 col-md-offset-1">{{ form.occupation | bs3field }}</div>
			</div>
			<div class="row">
				<div class="col-md-3">{{ form.office_phone | bs3field }}</div>
				<div class="col-md-3 col-md-offset-1">{{ form.office_email | bs3field }}</div>
			</div>
			<div class="row"><div class="col-md-7">{{ form.office_address1 | bs3field }}</div> </div>
			<div class="row"><div class="col-md-7">{{ form.office_address2 | bs3field }}</div> </div>
			<div class="row"><div class="col-md-3">{{ form.office_city | bs3field }}</div></div>
			<div class="row"><div class="col-md-3">{{ form.office_country | bs3field }}</div></div>
			<div class="row"><div class="col-md-3">{{ form.office_zip | bs3field }}</div> </div>
		</div>
      </div>
    </div>
  </div>
</div>



